.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px #333333 solid;
    display: inline-block;
    border-radius: 4px;
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
}